<div>
  <strong><%= comment.user.name %>:</strong>
  <span style="<% if comment.user == @post.user %>background-color: #f2f2f2;<% end %>">
    <%= comment.posted_text %>
  </span>
  <% if comment.user == current_user %>
    <%= link_to '削除', public_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <% end %>
</div>

<%= render partial: 'replies', locals: { comment: comment } %>
