<% comments.sort_by(&:created_at).reverse.each do |comment| %>
  <div class="comment" style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; margin-bottom: 10px;">
    <p>
      <strong><%= comment.user.name %>：</strong> 
      <span style="<%= comment.user == comment.post.user ? 'background-color: #f2f2f2; padding: 5px;' : '' %>">
        <%= comment.posted_text %>
      </span>
    </p>
    <p style="font-size: smaller; color: #999;"><%= comment.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></p>
  </div>
<% end %>
