<% comments.each do |comment| %>
  <div class="comment">
    <div class="comment-info">
      <strong><%= comment.user.name %>:</strong> 
      <span style="<%= comment.user == comment.post.user ? 'background-color: #f2f2f2; padding: 5px;' : '' %>">
        <%= comment.posted_text %>
      </span>
    </div>
  </div>
<% end %>
