<div class="plate mx-auto" id="cork">
  <span>Welcome!!</span>


  <div class="home-box mx-auto my-3">
    <p class="home-text">ようこそ、PET DAYへ！<br>
    このサイトは、ペット向けのSNSサイトになります。
    自分のペットの投稿をしたり、他のユーザーと共有したりしてください。<br>
    投稿には会員登録が必要になります。
    </p>

  </div>
<%= button_to '全ての通知を削除', delete_all_notifications_path, method: :delete, data: { confirm: '本当に全ての通知を削除しますか？' }, class: 'btn btn-danger mb-3' %>
  <!-- 通知を表示する部分 -->
<% if @notifications.present? %>
  <% @notifications.each do |notification| %>
    <div class="notification">
      <%= render partial: 'notification', locals: { notification: notification } %>
    </div>
  <% end %>
<% else %>
  <p>通知はありません。</p>
<% end %>




  <div class="all-items-show-button"><%= link_to "全ての投稿を見る", public_posts_path %></div>
</div>
