<div class="plate mx-auto" id="cork">
  <span>Welcome!!</span>
<div class="home-box mx-auto my-3">
    <p class="home-text">ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
    </p>
</div>
  <div class="all-items-show-button"><%= link_to "全ての投稿をみる", public_posts_path %></div>


  </div>
</div>
