<%= content_tag :style do %>
  @media only screen and (max-width: 600px) {
    .plate {
      width: 100%; /* 幅を100%に設定 */
    }
    .home-box {
      padding: 0 10px; /* 左右のパディングを追加 */
    }
    .notification {
      margin: 10px 0; /* 通知の間のマージンを追加 */
    }
  }
  p {
    padding: 10px;
  }

  /* 背景画像を固定 */
  #cork {
    background-attachment: fixed;
    background-image: url('<%= asset_path 'chubby-domestic-cat-leaning-brown-puppy-lying-white-surface.jpg' %>');
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
  }
<% end %>

<div class="plate mx-auto" id="cork">
  <div style="display: inline-block; text-align: left;">
    <span style="font-size: 36px;">Welcome!!</span>
    <div class="home-box mx-auto my-3" style="text-align: left;     background-color: rgba(240, 240, 240, 0.5);">
     <p class="home-text">
        ようこそ、PET DAYへ！<br>
        このサイトは、ペット向けのSNSサイトになります。
        自分のペットの投稿をしたり、他のユーザーと共有したりしてください。<br>
        投稿には会員登録が必要になります。
      </p>
    </div>

    <a href="https://jp.freepik.com/free-photo/chubby-domestic-cat-leaning-on-a-brown-puppy-lying-on-a-white-surface_17247032.htm#fromView=search&page=3&position=14&uuid=4ad9b7de-9abd-4957-af8b-82b73e041311">背景 著作者：wirestock／出典：Freepik</a>
      <% if current_user %>
    <%= button_to '全ての通知を削除', delete_all_notifications_path, method: :delete, data: { confirm: '本当に全ての通知を削除しますか？' }, class: 'btn btn-danger mb-3' %>

<!-- 通知ボックス -->
<div style="max-height: 400px; overflow-y: auto; margin-top: 10px; background-color: rgba(255, 255, 255, 0.5); width: 40%;">
  <% if @notifications.present? %>
    <% @notifications.each do |notification| %>
      <%= render partial: 'shared/notification', locals: { notification: notification } %>
    <% end %>
  <% else %>
    <p>通知はありません。</p>
  <% end %>
</div>

<% end %>

  </div>
</div>
