<% if current_user == post.user %>
  <!-- 自分の投稿の場合 -->
  <span class="like">
    <i class="fa-solid fa-cat"></i>: <%= post.likes.count %> <!-- いいね数を表示 -->
  </span>
<% else %>
  <!-- 他のユーザーの投稿の場合 -->
  <span class="like" style="color: blue;">
<% if current_user && current_user.likes.exists?(post: post) %>
  <%= link_to raw('<i class="fa-solid fa-cat"></i>'), public_post_like_path(post, current_user.likes.find_by(post: post).id), method: :delete %>
<% else %>
  <%= link_to raw('いいね<i class="fa-solid fa-cat" style="color: #d6d5d1;"></i>'), public_post_likes_path(post), method: :post %>
<% end %>
    <%= post.likes.count %> <!-- いいね数を表示 -->
  </span>
<% end %>
