<style>
  @media only screen and (max-width: 600px) {
    .plate {
      width: 100%; /* 幅を100%に設定 */
    }
    .home-box {
      padding: 0 10px; /* 左右のパディングを追加 */
    }
    .notification {
      margin: 10px 0; /* 通知の間のマージンを追加 */
    }
  }
  p {
    padding: 10px;
  }

  /* 背景画像を固定 */
  #cork {
    background-attachment: fixed;
    background-image: url('<%= asset_path 'chubby-domestic-cat-leaning-brown-puppy-lying-white-surface.jpg' %>');
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
  }
</style>

<div class="plate mx-auto" id="cork">
  <div style="display: inline-block; text-align: left;">
    <span style="font-size: 36px;">Welcome!!</span>
    <div class="home-box mx-auto my-3" style="text-align: left;     background-color: rgba(240, 240, 240, 0.5);">
     <p class="home-text">
  ようこそ、PET DAYへ！<br>
  このサイトは、ペット向けのSNSサイトになります。<br>
  管理者専用のページです。<br>
  ユーザーの管理や投稿の管理ができます。
     </p>
    </div>

    <a href="https://jp.freepik.com/free-photo/chubby-domestic-cat-leaning-on-a-brown-puppy-lying-on-a-white-surface_17247032.htm#fromView=search&page=3&position=14&uuid=4ad9b7de-9abd-4957-af8b-82b73e041311">背景 著作者：wirestock／出典：Freepik</a>

  </div>
</div>
