<!-- app/views/public/likes/index.html.erb -->
<h1>あなたがいいねした投稿一覧</h1>

<% if @likes.present? %>
  <ul>
    <% @likes.each do |like| %>
      <li>
        <% if like.post.image.attached? %>
          <%= link_to image_tag(like.post.image.variant(resize: "100x100")), public_post_path(like.post) %>
        <% else %>
          <%= link_to image_tag("no_image.jpg", width: 100, height: 100), public_post_path(like.post) %>
        <% end %>
        <%= link_to "投稿タイトル: #{like.post.title}", public_post_path(like.post) %>
        <!-- 他のいいねの情報を表示するためのコードを追加 -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>いいねした投稿はありません。</p>
<% end %>
