<!-- app/views/notifications/index.html.erb -->

<% current_user.notifications.where(viewed: false).each do |notification| %>
  <div class="alert alert-info">
    <%= notification.content %>
  </div>
<% end %>
