<!-- app/views/notifications/new.html.erb -->

<h1>New Notification</h1>

<%= form_with(model: @notification, url: notifications_path) do |form| %>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>
  
  <%= form.submit "Create Notification", class: "btn btn-primary" %>
<% end %>
